body {
    font-family: Kalam, Monaco,"Courier New","courier";
    margin:0px;
    font-size:16px;
}

#main {
    min-height: 100vh;
    display: grid;
    grid-template-areas: "header" "nav" "content" "footer";
    grid-template-rows: auto auto 1fr auto;
    grid-template-columns: 100%;
}

h1,h2 {font-weight:normal}

ul {
    margin:0px;
    padding:0px;
}

header {
    font-size:20px;
    color:white;
    font-family: 'Oswald';
    position:relative;
    background: #0C3C60;
    grid-area: header;
    text-align:center;
    background:white;
    position:relative;
}

header h1 {
    margin-top: 0px;
    margin-bottom: 0px;
    color:#719E40;
    font-size:40px;
}

header img {
    width:240px;
}

nav {
    display:block;
    color: white;
    grid-area: nav;
    padding-top:5px;
}

nav, footer {
    background:#282A36;
}

nav div {
    display:inline-block;
    width:16%;
    text-align:center;
}

nav h2 {
    font-size:20px;
    margin:0px;
}
nav div a {
    color: white;
    text-decoration:none;
}

nav div a:hover {
    color:#00800D;
} 

#content {
    background:#f8f9f8;
    padding:10px;
    position:relative;
    grid-area: content;
    color:#282A36;
}

a {
    color:#00800D;
}


#content blockquote {
    padding:5px;
    margin:30px;
    border-left:2px solid #719E40;
}

#content.home, #content.news {
    padding:0px;
}

#content.pictures img {
    border:1px solid silver;
    max-height:300px;
    border:1px solid silver;
}

#content.pictures img:hover {
    cursor:pointer;
}

#content h1,h2 {
    margin:20px;
}

#content .right {
    width:50%;
    float:right;
}

#content .left {
    width:50%;
}

#content.hiking .hike {
    width: 230px;
    display: inline-block;
    padding: 5px;
    background: red;
    border:1px solid silver;
    margin:10px;
}

#content.hiking .etc {
    display: inline-block;
    font-size:23px;
}

#content.hiking .hike.difficile {
    background:#FF6961;
}

#content.hiking .hike.moyenne {
    background:#FFB347;
}

#content.hiking .hike.facile {
    background:#FDFD96;
}

#content.hiking .hike .name {
    font-weight:bold;
}

#content.hiking .hike .difference {
}

#content.hiking .hike .zone {
}


#content .center {
    text-align:center;
}

#content.me h3, #content.me p {
    text-align:center;
}

#content.me img {
  display: block;
  margin-left: auto;
  margin-right: auto;
}

#content #twitter {
    max-width:1200px;
    margin:auto;
}

#content.home #moz {
    display: grid;
    grid-template-areas: "pictures equipment" "hiking link";
    grid-template-rows: auto auto;
    grid-template-columns: 50% 50%;
    margin-left:50px;
    margin-top:50px;
}

#content.home #moz div {
    margin:40px;
    padding:20px;
    background:white;
    border-radius: 10px;
}

#content.home #moz div a {
    text-decoration:none;
    background:#ecf0f1;
    padding:5px;
}


#content.home #pictures {
    grid-area: pictures;
}

#content.home #equipment {
    grid-area: equipment;
}

#content.home #hiking {
    grid-area: hiking;
}

#content.home #link {
    grid-area: link;
}

footer {
    grid-area: footer;
}

footer p {
    text-align:center;
    color:white;
    margin:5px;
}

@media only screen and (max-width: 768px) {

    #content {
        min-height: 50vh;
    }
    #content .section {
        float: none;
        width:100%;
    }
    #content.hiking table td.name,
    #content.hiking table td.region,
    #content.hiking table td.link,
    #content.hiking table td.different,
    #content.hiking table td.description {
        width:100%;
        display:block;
    }
    #content.hiking table tr th {
        display:none;
    }
    #content.hiking table tr {
        border-bottom:20px solid #ecf0f1;
    }
    header #hamburger {
        display:block;
    }

    #content.home #moz {
        grid-template-areas: "pictures" "equipment" "hiking" "link";
        grid-template-rows: auto auto auto auto;
        grid-template-columns: 100%;
        margin:0px;
    }

    nav div {
        display:block;
        text-align:center;
        width:100%;
    }

}