@font-face {
    font-family: JosefinSansStdLight;
    src: url("bb.ttf") format("opentype");
}

body {
    font-family: Kalam, Monaco,"Courier New","courier";
    margin:0px;
    font-size:16px;
    color:#0C3C60;
    background:url('../img/home.jpg')no-repeat center center fixed;
    background-size: cover;
}



h1,h2 {font-weight:normal}

ul {
    margin:0px;
    padding:0px;
}

header {
    font-size:25px;
    color:white;
    font-family: 'JosefinSansStdLight',Arial;
    position:relative;
    padding:5px;
    background: #0C3C60 url('../img/logo.png') no-repeat left;
    background-size: 100px;
    padding:20px;
    padding-left:100px;
}

header, nav, footer {
    opacity: 0.9;
}

#content.home {
    opacity: 0.0;
}

header h1 {
    margin-bottom: 0px;
}

header h1 span {
    color:#6EA4CA;
}

header #autor {
    font-size:16px;
    padding:3px;
    padding-top:5px;
    padding-bottom:1px;
    background:#ecf0f1;
    color:#0C3C60;
    font-weight:bold;
}

header #hamburger {
    width:35px;
    padding:5px;
    position:absolute;
    top:10px;
    right:10px;
    height:50px;
    cursor:pointer;
}

header #hamburger div {
    width:100%;
    border-top:3px solid white;
    margin-top:7px;
}

nav {
    display:block;
    color: #444;
    margin:auto;
}

nav table {
    width:100%;
    border-collapse: collapse;
}

nav td {
    padding:5px;
    width:16.666%;
    text-align:center;
    background: #0C3C60;
}

nav td a {
    text-decoration: none;
    color:white;
    font-size:20px;
    font-family: JosefinSansStdLight;
}

nav td a:hover {
    color:yellow;
}

#content {
    min-height: 600px;
    background:#ecf0f1;
    padding:10px;
    position:relative;
}

#content blockquote {
    padding:5px;
    margin:30px;
    border-left:2px solid #6EA4CA;
}

#content.home, #content.news {
    padding:0px;
}

#content h1,h2 {
    margin:20px;
}

#content .right {
    width:50%;
    float:right;
}

#content .left {
    width:50%;
}

#content table {
    border-collapse: collapse;
    width:100%;
    margin-bottom:20px;
}

#content table td {
    border: 2px solid #ecf0f1;
    padding:5px;
    width:25%;
}

#content table .easy {
    background:#FDFD96;
}

#content table .medium {
    background:#FFB347;
}

#content table .sport {
    background:#FF6961;
}

#content .center {
    text-align:center;
}

#content #twitter {
    max-width:1200px;
    margin:auto;
}

footer {
    background: #0C3C60;
    padding:5px;
    position:relative;
}

footer p {
    font-size:large;
    color:white;
    text-align:left;
}

footer #social {
    position:absolute;
    top:20px;
    right:20px;
}

footer #social img.facebook {
    height:30px;
}

footer #social img.twitter {
    height:30px;
    margin-right:10px;
}

@media only screen and (max-width: 768px) {
    nav {
        display:none;
    }
    nav td {
        width: 100%;
        display:block;
    }
    #content {
        min-height: 50vh;
    }
    #content .section {
        float: none;
        width:100%;
    }
    header h1 span {
        display:block;
    }

}