{% extends "app.twig" %}

{% block title %}citations{% endblock %}

{% block content %}

    <div id="content">

        <div class="right section">
            <blockquote>Quand rien n'est prevu, tout est possible.</blockquote>

            <blockquote>Ces montagnes ont toutes leur histoire et font vivre ces instants d'inspiration où l'on est entièrement coupé du monde d'en bas.</blockquote>

            <blockquote>Les montagnes ne vivent que de l'amour des hommes. Là où les habitations, puis les arbres, puis l'herbe s'épuisent, naît le royaume stérile, sauvage, minéral ; cependant, dans sa pauvreté extrême, dans sa nudité totale, il dispense une richesse qui n'a pas de prix : le bonheur que l'on découvre dans les yeux de ceux qui le fréquentent.</blockquote>

            <blockquote>La montagne offre à l'homme tout ce que la société moderne oublie de lui donner.</blockquote>

            <blockquote>L'alpiniste est un homme qui conduit son corps là où, un jour, ses yeux ont regardé... </blockquote>
        </div>
        <div class="left section">
            <blockquote>Le vrai miracle n'est pas de marcher sur les eaux ni de voler dans les airs : il est de marcher sur la terre.</blockquote>

            <blockquote>En haut des cimes on se rend compte que la neige, le ciel et l'or ont la même valeur.</blockquote>

            <blockquote>Ils ne savaient pas que c'était impossible alors ils l'on fait.</blockquote>

            <blockquote>Si tu n'arrives pas à penser, marche. Si tu penses trop, marche. Si tu pense mal, marche encore !</blockquote>

            <blockquote>Si vous pensez que l'aventure est dangereuse, je vous propose d'essayer la routine ... elle est mortelle.</blockquote>

            <blockquote>C'est impossible dit le fierté. C'est risqué dit l'expérience. C'est sans issue dit la raison. Mais essayons murmure le coeur.</blockquote>

            <blockquote>Marcher, c'est prendre le temps de vivre, de regarder, d’ouvrir ses sens à la diversité et de sentir les minutes et les heures glisser sur la peau. Quand le corps accepte sa peine, respiration et mouvement s’allient, libérant ainsi la pensée qui toute entière s’enveloppe du présent.</blockquote>
        </div>

    </div>

{% endblock %}