{% extends "app.twig" %}

{% block title %}contact{% endblock %}

{% block content %}

    <div id="content">

        <div class="center">
            <p><img src="img/avatar.jpg" height="300px" width="300px" style="border:2px solid black"/></p>
            <p>Vous pouvez me contacter : thierry@flech.fr</p>
        </div>

    </div>

{% endblock %}