{% extends "app.twig" %}

{% block title %}Equipement{% endblock %}

{% block content %}

    <div id="content">

        <h3>Les habits : les 3 couches</h3>
        <p>Il faut lors des randonnées ces trois éléments. A porter ou dans le sac.</p>
        <ul>
            <li>1 : un teeshirt respirant : absorber la transpiration</li>
            <li>2 : une polaire : chaude et respirante mais la chaleur se dissipe si présence de vent</li>
            <li>3 : un coupe vent : empeche le vent d'atteindre la polaire</li>
        </ul>

        <p>Avec ces trois couches même en temps d'hiver en étant actif vous n'aurez pas froid.</p>
        <p>En température basses avec neige prévoir une seconde polaire car quand vous êtes arrêté pour manger par exemple
        le corp se refroidit et une simple polaire est parfois pas assez.
        Vous pouvez aussi utiliser une doudoune pour cette phase inactif dans des conditions froides, elle est chaude mais pas du tout respirante, ne pas utiliser pendant
        l'effort car vous aurez vite trop chaud.</p>

        <h3>Les chaussures</h3>
        <p><u>Rando</u></p>
        <p><ul>Chaussures basses :
            <li>+ légères</li>
        <li>+ Liberté de mouvement</li>
        <li>+ Confortables</li>
        <li>- Cheville libre et donc plus de prudence s'impose</li>
        </ul>
        Bon modèle : <a href="https://www.salomon.com/fr/product/xa-pro-3d-1.html">Salomon XA prod 3D</a> (top de top)

        <p>
        <ul>Chaussures tige moyenne/haute :
        <li>+ Protectrices, previennent les entorses</li>
        <li>- bloquent l'articulation de la cheville et génent la foulée naturelle</li>
        <li>- lourdes</li>
        </ul>
        Bon modèle : <a href="http://www.merrell.com/US/en/moab-2-mother-of-all-boots-ventilator-mid/27935M.html">Merell Moab 2</a>
        </p>
        <p>=> J'utilise toujours des chaussures basses</p>
        <p><u>Rando avec neige</u></p>
        <p>
        <ul>
            Bottes à neiges :
            <li>+ très chaudes</li>
            <li>+ très confortables</li>
            <li>- manque de rigidité, de tenue</li>
            <li>+ étanches (attention la durée de l'étanchéité va dépendre de la marque de la botte)</li>
        </ul>
        Bon modèle : <a href="https://www.sorelfootwear.fr/FR/caribou-homme-NM1000.html?cgid=men-boots&dwvar_NM1000_variationColor=238#start=1">Sorel Caribou</a>
        </p>
        <p>
        <ul>
            Chassures rando tige hautes Gore Tex :
            <li>- pas très chaudes</li>
            <li>- s'abiment vite avec la neige</li>
            <li>+ assez rigide</li>
            <li>+ étanches</li>
        </ul>
        Bon modèle : <a href="http://www.meindl.de/product/guffert-gtx-en/?lang=en">Meindl Guffert GTX</a>
        </p>
        <p>
        <ul>
            Chassures Alpinisme :
            <li>+ chaudes</li>
            <li>+ très rigide</li>
            <li>+ étanches</li>
            <li>- très chères</li>
        </ul>
        Bon modèle : <a href="https://www.mammut.com/p/3010-00760-3226/magic-high-gtx-men/">Mammut Magic GTX</a>
        </p>

        <h3>Le sac à dos</h3>
        <p><u>Rando à la journée</u></p>
        <p>Un sac à dos <= 20 litres. De préférence avec des mousses au niveau du dos pour plus de confort.</p>
        <p>Des sangles ou accroches extérieures peuvent être bien pour accrocher des batons ou raquettes.</p>
        <p>Bon modèle : <a href="https://www.simond.fr/sac-dos-alpinism-22-noir-id_8360596">Simond 22</a></p>
        <p><u>Rando sur plusieurs jours</u></p>
        <p>Un sac à dos de >= 30 litres. La volume du sac va dépendre de pleins de facteurs (autonomie, refuge, nouriture, ...).</p>
        <p>Le mieux est de prendre un sac très renforcé en mousse au niveau de la ceinture de hanche car c'est sur cette sangle que va
        reposer la majorité du poids.</p>
        <p>Un trop gros volume, 70 litres par exemple, est souvent inutile</p>
        <p>Bon modèle : <a href="https://www.deuter.com/FR/fr/trekking/aircontact-lite-40-plus-10-3340118-green-blue.html">Deuter 40+10</a></p>

        <h3>La tente</h3>
        <p>Quatres critères à regarder de près : legèreté, confortabilité, compacité, prix.<p>
        <p>Au plus legèreté/confortabilité/compacité sont élévés en même temps au plus le prix sera élévé.</p>
        <p>Favoriser les modèles autoportant, éviter les tentes sarcophages/tunelles trop basses qui peuvent être superbes en legèreté/compacité/prix mais perdent trop en confortabilité. Pouvoir manger assis dans sa tente est un gros plus en cas de mauvais temps.</p>
        <p>Bon modèle (compacité/poids pas top mais très loin d'être cata et prix/confortabilité top) : <a href="https://www.decathlon.fr/arpenaz-2-pers-verte-id_8293539.html">Decatlon Arpenaz 2p</a></p>
        <p>Bon modèle : <a href="https://www.msrgear.com/hubba-hubba-nx">MSR Hubba Hubba NX</a></p>
        <p>Bon modèle (version solo) : <a href="https://www.msrgear.com/tents/hubba-nx">MSR Hubba NX</a></p>
        <p>J'utilise la MSR Hubba NX. Je conseille de ne pas acheter le footprint que MSR propose (trop cher et pas assez robuste) mais plutot d'acheter une bache d'exterieur basique et de vous découper un morceau adapté à la dimention de votre tente. A glisser sous votre tente ça va permettre d'augmenter la durée de vie de la tente en évitant d'habimer le tissu de sol. Ça rajoute dans les 250 grammes à la tente mais ça vaut le coup sur le long terme.

        <h3>Sac de couchage</h3>
        <p>Deux types de sacs : synthétique et duvet</p>
        <p>
         <ul>
            Synthétique :
            <li>+ même humide reste chaud</li>
            <li>+ sèche vite</li>
            <li>+ peu d'entretien</li>
            <li>+ pas cher</li>
            <li>- pas compact</li>
            <li>- assez lourd</li>
        </ul>
        Bon modèle : <a href="https://www.decathlon.fr/couchage-trek-500-5-jaune-id_8503640.html">Decathlon Forclaz 5</a>
        </p>
        <p>
        <ul>
            Duvet :
            <li>+ compact</li>
            <li>+ léger</li>
            <li>- demande entretien</li>
            <li>- perd performance si humide</li>
            <li>- sèche difficilement</li>
            <li>- prix elevé</li>
        </ul>
        Bon modèle : <a href="https://www.decathlon.fr/couchage-trek-900-0-plume-jau-id_8492771.html">Decathlon Forclaz 900 0</a></p>

    </div>

{% endblock %}