{% extends "app.twig" %}

{% block title %}randomega{% endblock %}

{% block content %}

    <div id="content" class="home">
    	<div id="moz">
    		<div id="pictures">
    			<h3>Photos</h3>
    			<p class="descr">Mes photos prises avec appareil photo ou smartphone au cours de mes sorties.</p>
    			<p><a href="{{ url('pictures') }}">Voir les photos</a></p>
    		</div>
    		<div id="hiking">
    		    <h3>Randos</h3>
    			<p class="descr">Des exemples de randos que j'ai réalisé dans le Mercantour principalement avec des niveaux de difficultés différents.</p>
    			<a href="{{ url('hiking') }}">Voir les randos</a>
    		</div>
    		<div id="equipment">
    		    <h3>Equipement</h3>
    			<p class="descr">Des conseils ou exemples d'équipement pour les sorties dans la nature.</p>
    			<a href="{{ url('equipment') }}">Mon equipement</a>
    		</div>
    		<div id="link">
    			<h3>Liens</h3>
    			<p class="descr">Des liens utiles pour randonner dans le coin.</p>
    			<a href="{{ url('links') }}">Des liens utiles</a>
    		</div>
    	</div>
    </div>
{% endblock %}