{% extends "app.twig" %}

{% block title %}Flech{% endblock %}

{% block content %}
    <div class="center">
        <p>Oseras tu rentrer ou resteras tu dehors</p>
        <p>Qu'as tu a perdre, qu'as tu as gagner</p>
        <p>Si tu entres, iras tu à gauche ou à droite</p>
        <p>Ou peut être au centre un tout petit peu à droite</p>
        <p>Si tu es quelque peu troublé courras tu au lieu de marcher</p>
        <p>Le long des routes tourmentées, courras tu comme un dératé</p>
        <p>Dans l'étrange campagne erreras tu sans fin</p>
        <p>Te dirigeant au grès d'inutiles chemins</p>
        <p>Vers l'endroit ou on attend</p>
        <p>Ou tout le monde attend</p>
        <p>Le train qui passe ou l'avion à l'atterissage</p>
        <p>Le bus qui passe ou la reception d'un message</p>
        <p>La pluie qui tombe ou le téléphone qui sonne</p>
        <p>La neige qui tombe ou attendant un oui ou un non</p>
        <p>Un collier de perle ou un pantalon</p>
        <p>Des boucles qui dansent ou une nouvelle chance</p>
    </div>

{% endblock %}