{% extends "app.twig" %}

{% block title %}Flech{% endblock %}

{% block content %}

    <div class="center">
        <h3>Yop</h3>
        <p>Thierry, je pratique le footing, VTT et la rando depuis que je suis arrivé dans les Alpes Maritimes.</p>
        <p>N'hesitez pas à me contacter si vous voulez : <p>
        <p>Connaitre la région</p>
        <p>Voir des beaux paysages</p>
        <p>Se défouler et respirer</p>
        <p>S'orienter et explorer</p>
        <p>Du sport au plein air</p>
        <p>Prendre de belles photos</p>
        <img src="img/moi.jpg" width="70%"/>
    </div>

{% endblock %}