{% extends "app.twig" %}

{% block title %}liens{% endblock %}

{% block content %}

    <div id="content">

        <h3>Liens utiles</h3>
        <p><a href="http://www.randoxygene.org/">www.randoxygene.org</a> : les principales randos de la région</p>
        <p><a href="https://www.geoportail.gouv.fr/">www.geoportail.gouv.fr</a> : cartes IGN gratuites</p>
        <p><a href="http://www.openstreetmap.org/">www.openstreetmap.org</a> : cartes OSM gratuites</p>
        <p><a href="http://www.meteofrance.com/previsions-meteo-montagne/bulletin-avalanches/mercantour/OPP23">Météo France prévisions neige et avalanche</a></p>
        <p><a href="http://maps.me/">MAPS ME</a> : app de cartes offline voyage et rando</p>
        <p><a href="https://www.youtube.com/channel/UCW3--jh4FUnSxw-gofzKnqg">Passe moi les jumelles</a> : des initiatives liées à la nature</p>
        <p><a href="https://www.youtube.com/user/davidgenestal">Carnet de rando</a> : des idées de rando dans toutes la france</p>
        <p><a href="https://www.chullanka.com">Chullanka</a> : des reductions sur les grandes marques</p>
    </div>

{% endblock %}