{% extends "app.twig" %}

{% block title %}links{% endblock %}

{% block content %}

	<p>Liens utiles</p>
    <p><a href="http://www.randoxygene.org/">www.randoxygene.org</a> : les principales rando de la région</p>
    <p><a href="https://www.geoportail.gouv.fr/">www.geoportail.gouv.fr</a> : cartes IGN gratuites</p>
    <p><a href="http://www.openstreetmap.org/">www.openstreetmap.org</a> : cartes OSM gratuites</p>
    <p><a href="http://www.meteofrance.com/previsions-meteo-montagne/alpes-du-sud/monp007alpesdusud/">www.meteofrance.com</a> : météo montagne</p>

{% endblock %}