{% extends "app.twig" %}

{% block title %}A propos{% endblock %}

{% block content %}

    <div id="content" class="me">
        <h3>Un peu sur moi</h3>
        <p>Je m'appelle Thierry, 27 ans, je vie à Valbonne dans les Alpes Maritimes.</p>
        <p>Je suis dans la région depuis 2012.</p>
        <p>Fan de sport outdoor, tel que la randonnée, le vélo ou le footing.</p>
        <p>Je me suis mis depuis peu à la photo et je progresse à mon rythme.</p>
        <p>J'aime partager les endroits sympas, entre mer et montagne, que j'ai découvert depuis mon arrivée dans la région.</p>
        <p>Vous pouvez me joindre sur thierry@flech.fr</p>
    </div>

{% endblock %}