{% extends "app.twig" %}

{% block title %}news{% endblock %}

{% block content %}

    <div id="content" class="news">

         <a class="twitter-timeline" href="https://twitter.com/flech_fr">Tweets by flech_fr</a> <script async src="//platform.twitter.com/widgets.js" charset="utf-8"></script>

    </div>

{% endblock %}