{% extends "app.twig" %}

{% block title %}pictures{% endblock %}

{% block content %}

    <div id="content" class="pictures">
        <iframe src="https://drive.google.com/embeddedfolderview?id=0Bwsm4d3oUcKJVVJkYlU0NjF3SjQ#grid" style="width:100%; height:600px; border:0;"></iframe>
    </div>

{% endblock %}