{% extends "app.twig" %}

{% block title %}citations{% endblock %}

{% block content %}

    <div id="content">

        <div class="right section">

            <blockquote>Quand rien n'est prévu, tout est possible. - Antoine de Maximy</blockquote>

            <blockquote>Ces montagnes ont toutes leur histoire et font vivre ces instants d'inspiration où l'on est entièrement coupé du monde d'en bas. - Boris Vian</blockquote>

            <blockquote>Les montagnes ne vivent que de l'amour des hommes. Là où les habitations, puis les arbres, puis l'herbe s'épuisent, naît le royaume stérile, sauvage, minéral ; cependant, dans sa pauvreté extrême, dans sa nudité totale, il dispense une richesse qui n'a pas de prix : le bonheur que l'on découvre dans les yeux de ceux qui le fréquentent. - Gaston Rébuffat</blockquote>

            <blockquote>La montagne offre à l'homme tout ce que la société moderne oublie de lui donner. - Boris Vian</blockquote>

            <blockquote>Le bonheur n'est pas d'avoir tout ce que l'on désire mais d'appécier ce que l'on a ... - Paolo Coelho</blockquote>

            <blockquote>Le courage est de résister à la peur, de maitriser la peur, pas l'absence de peur. - Mark Twain</blockquote>


        </div>
        <div class="left section">

            <blockquote>Que la force soit avec toi. - Yoda</blockquote>

            <blockquote>Ils ne savaient pas que c'était impossible alors ils l'ont fait. - Mark Twain</blockquote>

            <blockquote>Si tu n'arrives pas à penser, marche. Si tu penses trop, marche. Si tu penses mal, marche encore ! - Jean Giono</blockquote>

            <blockquote>Si vous pensez que l'aventure est dangereuse, je vous propose d'essayer la routine ... elle est mortelle. - Paulo Coelho</blockquote>

            <blockquote>C'est impossible dit le fierté. C'est risqué dit l'expérience. C'est sans issue dit la raison. Mais essayons murmure le coeur. - William Arthur Ward</blockquote>

            <blockquote>Marcher, c'est prendre le temps de vivre, de regarder, d’ouvrir ses sens à la diversité et de sentir les minutes et les heures glisser sur la peau. Quand le corps accepte sa peine, respiration et mouvement s’allient, libérant ainsi la pensée qui toute entière s’enveloppe du présent. - Baudin, Ducoin</blockquote>

            <blockquote>La chute n'est pas un echec. L'echec c'est de rester là ou on est tombé. - Socrate</blockquote>

        </div>

    </div>

{% endblock %}